---
import { getCollection } from 'astro:content';
const articles = await getCollection('articles');

import Card from '../components/Card.astro';
import PopulationChart from '../components/PopulationChart.vue';
import Layout from '../layouts/Layout.astro';

import HamburgText from '../content/teaser/hamburg.md'
import HeidelbergText from '../content/teaser/heidelberg.md'
import DarmstadtText from '../content/teaser/darmstadt.md'

import hamburgImage from '../content/images/hamburg.jpg'
import heidelbergImage from '../content/images/heidelberg.jpg'
import darmstadtImage from '../content/images/darmstadt.jpg'

import population from '../content/population.json'
---

<Layout>
	<h1 slot="header">Schöne Städte</h1>
	<main>
		<section>
			<div class="cards">
				<Card headline="Hamburg" image={hamburgImage}>
					<HamburgText/>
				</Card>
				<Card headline="Heidelberg" link="http://heidelberg.de" image={heidelbergImage}>
					<HeidelbergText/>
				</Card>
				<Card headline="Darmstadt" link="http://darmstadt.de" image={darmstadtImage}>
					<DarmstadtText/>
				</Card>
			</div>
		</section>
		<section>
			<h2>Weitere Informationen</h2>
			<ul>
				{articles.map(article => (
					<li>
						{article.data.label && <span class="label">{article.data.label}</span>}
						<a href={`articles/${article.id}`}>{article.data.title}</a>
					</li>
				))}
			</ul>
		</section>
		<PopulationChart client:load population={population}/>
	</main>
</Layout>