---
import {Image} from 'astro:assets'
const {headline = "[Stadt]", link, image} = Astro.props
---

<div class="card">
    <h2>{headline}</h2>
    {image &&
            <Image src={image} alt={headline} fit="cover" width="414" height="276"/>}
    <div>
        <slot/>
    </div>
    <a href={link}>weiter</a>
</div>

<style>
    .card {
        background-color: var(--color-light-gray);
        padding: 0 var(--spacing-1) var(--spacing-2);
        border-radius: var(--standard-border-radius);
    }

    h2 {
        font-size: var(--scale-2);
        margin: var(--spacing-2) 0 var(--spacing-2);
        border-bottom: 0;
    }

    img {
        margin-bottom: var(--spacing-1);
    }
</style>
